<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wzy.graduate.project.anfaoc.service.dao.LabelDetailDao">

    <resultMap id="labelDetailMap" type="wzy.graduate.project.anfaoc.api.domain.entity.LabelDetail">
        <id property="id" column="id"/>
        <result property="labelName" column="label_name"/>
        <result property="labelNum" column="label_num"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="criteria">
        <where>
            <if test = "id != null"> AND `id` = #{id}</if>
            <if test = "labelName != null"> AND `label_name` = #{labelName}</if>
            <if test = "labelNames != null">
                AND `label_name` in
                <foreach item="labelName" collection="labelNames" open="(" separator="," close=")">
                    #{labelName}
                </foreach>
            </if>
            <if test = "createTime != null"> AND `create_time` = #{createTime}</if>
            <if test = "labelNum != null"> AND `label_num` = #{label_num}</if>
        </where>
    </sql>

    <sql id="tabel_name">
        label_detail
    </sql>

    <sql id = "columns_all">
        `id`,
        <include refid="columns_exclude_id"/>
    </sql>

    <sql id = "columns_exclude_id">
        `label_name`, `label_num`, `create_time`
    </sql>

    <sql id = "value_exclude_id">
        #{labelName}, #{labelNum}, #{createTime}
    </sql>

    <insert id="addLabelDetail" parameterType="wzy.graduate.project.anfaoc.api.domain.entity.LabelDetail" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        <include refid="tabel_name"/>
        (<include refid="columns_exclude_id"/>)
        VALUES
        (<include refid="value_exclude_id"/>)
    </insert>

    <select id="findByNames" parameterType="map" resultMap="labelDetailMap">
        SELECT
        <include refid="columns_all"/>
        FROM
        <include refid="tabel_name"/>
        <include refid="criteria"/>
    </select>

    <select id="findByName" parameterType="wzy.graduate.project.anfaoc.api.domain.entity.LabelDetail" resultMap="labelDetailMap">
        SELECT
        <include refid="columns_all"/>
        FROM
        <include refid="tabel_name"/>
        <include refid="criteria"/>
    </select>

    <update id="updateLabelNumber" parameterType="wzy.graduate.project.anfaoc.api.domain.entity.LabelDetail">
        UPDATE
        <include refid="tabel_name"/>
        SET
        `label_num` = `label_num` + 2
        WHERE
        `label_name` = #{labelName}
    </update>

</mapper>