<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wzy.graduate.project.anfaoc.service.dao.LabelDetailDao">

    <resultMap id="userDetailMap" type="wzy.graduate.project.anfaoc.api.domain.entity.LabelDetail">
        <id property="id" column="id"/>
        <result property="lableName" column="label_name"/>
        <result property="labelNum" column="label_num"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="criteria">
        <where>
            <if test = "id != null"> AND `id` = #{id}</if>
            <if test = "lableNames != null">
                AND `label_name` in
                <foreach item="labelName" collection="labelNames" open="(" separator="," close=")">
                    #{labelName}
                </foreach>
            </if>
            <if test = "createTime != null"> AND `create_time` = #{createTime}</if>
            <if test = "labelNum != null"> AND `label_num` = #{label_num}</if>
        </where>
    </sql>

    <sql id="tabel_name">
        label_detail
    </sql>

    <select id="getIdFromName" parameterType="string" resultType="java.lang.Long">
        select `id` from
        <include refid="tabel_name"/>
        <include refid="criteria"/>
    </select>

</mapper>