<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- CSS -->
	<link rel="stylesheet" href="/static/css/bootstrap-reboot.min.css">
	<link rel="stylesheet" href="/static/css/bootstrap-grid.min.css">
	<link rel="stylesheet" href="/static/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/static/css/nouislider.min.css">
	<link rel="stylesheet" href="/static/css/select2.min.css">
	<link rel="stylesheet" href="/static/css/jquery.mCustomScrollbar.min.css">
	<link rel="stylesheet" href="/static/css/ionicons.min.css">
	<link rel="stylesheet" href="/static/css/main.css">

	<!-- Favicons -->
	<link rel="icon" type="image/png" href="/static/icon/favicon-32x32.png" sizes="32x32">
	<link rel="apple-touch-icon" href="/static/icon/favicon-32x32.png">
	<link rel="apple-touch-icon" sizes="72x72" href="static/icon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="static/icon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="144x144" href="static/icon/apple-touch-icon-144x144.png">

	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Dmitry Volkov">
	<title>个人主页</title>
</head>

<body>
	<!-- header -->
	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col-7 col-md-9 col-lg-8 col-xl-9">
					<div class="header__content">
						<!-- header menu btn -->
						<button class="header__btn" type="button">
							<span></span>
							<span></span>
							<span></span>
						</button>
						<!-- end header menu btn -->

						<!-- header logo -->
						<a href="../usercontrol/index.html" class="header__logo">
							<img src="/static/imges/logo.svg" alt="">
						</a>
						<!-- end header logo -->

						<!-- header nav -->
						<ul class="header__nav">
							<!-- dropdown -->
							<li class="header__nav-item">
								<a href="../usercontrol/index.html" class="header__nav-link">Home</a>
							</li>
							<!-- end dropdown -->

							<!-- dropdown -->
							<li class="header__nav-item">
								<a class="dropdown-toggle header__nav-link" href="#" role="button" id="dropdownMenuProjects" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Projects</a>

								<ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuProjects">
									<li><a href="projects.html">Projects</a></li>
									<li><a href="project.html">Single project</a></li>
									<li><a href="add-project.html">Post a project</a></li>
								</ul>
							</li>
							<!-- end dropdown -->

							<!-- dropdown -->
							<li class="header__nav-item">
								<a class="dropdown-toggle header__nav-link" href="#" role="button" id="dropdownMenuJobs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Jobs</a>

								<ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuJobs">
									<li><a href="jobs.html">Jobs</a></li>
									<li><a href="job.html">Single job</a></li>
									<li><a href="add-job.html">Post a job</a></li>
								</ul>
							</li>
							<!-- end dropdown -->

							<!-- dropdown -->
							<li class="header__nav-item">
								<a class="dropdown-toggle header__nav-link" href="#" role="button" id="dropdownMenuCompanies" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Companies</a>

								<ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuCompanies">
									<li><a href="companies.html">Companies</a></li>
									<li><a href="company.html">Company profile</a></li>
								</ul>
							</li>
							<!-- end dropdown -->

							<!-- dropdown -->
							<li class="header__nav-item">
								<a class="dropdown-toggle header__nav-link" href="#" role="button" id="dropdownMenuProfiles" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profiles</a>

								<ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuProfiles">
									<li><a href="profiles.html">Profiles</a></li>
									<li><a href="profile.html">Profile</a></li>
								</ul>
							</li>
							<!-- end dropdown -->

							<!-- dropdown -->
							<li class="header__nav-item">
								<a class="dropdown-toggle header__nav-link" href="#" role="button" id="dropdownMenuPages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>

								<ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuPages">
									<li><a href="messages.html">Messages</a></li>
									<li><a href="faq.html">Help Center</a></li>
									<li><a href="contacts.html">Contacts</a></li>
									<li><a href="privacy.html">Privacy Policy</a></li>
									<li><a href="signin.html">Sign In</a></li>
									<li><a href="signup.html">Sign Up</a></li>
									<li><a href="forgot.html">Forgot password</a></li>
								</ul>
							</li>
							<!-- end dropdown -->
						</ul>
						<!-- end header nav -->

						<!-- header search -->
						<form action="#" class="header__search">
							<input class="header__search-input" type="text" placeholder="Search...">
							<button class="header__search-button" type="button">
								<i class="icon ion-ios-search"></i>
							</button>
						</form>
						<!-- end header search -->
					</div>
				</div>

				<div class="col-5 col-md-3 col-lg-4 col-xl-3">
					<div class="header__content header__content--end">
						<a href="messages.html" class="header__messages header__messages--active">
							<i class="icon ion-ios-mail"></i>
						</a>

						<div class="header__notifications">
							<a class="dropdown-toggle header__notifications-btn header__notifications-btn--active" href="#" role="button" id="dropdownMenuNotifications" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="icon ion-ios-notifications"></i>
							</a>

							<div class="dropdown-menu dropdown-menu-right header__dropdown-menu header__dropdown-menu--right header__dropdown-menu--ntf" aria-labelledby="dropdownMenuNotifications">
								<div class="header__ntf">
									<a href="#" class="header__ntf-img">
										<img src="/static/images/user3.jpg" alt="">
									</a>
									<h6 class="header__ntf-title">
										<span>Marsha Baldwin</span> Comment on your project.
									</h6>
								</div>

								<div class="header__ntf">
									<a href="#" class="header__ntf-img">
										<img src="/static/images/user7.jpg" alt="">
									</a>
									<h6 class="header__ntf-title">
										<span>Andy Ramos</span> Comment on your project.
									</h6>
								</div>

								<div class="header__ntf">
									<a href="#" class="header__ntf-img">
										<img src="/static/images/user4.jpg" alt="">
									</a>
									<h6 class="header__ntf-title">
										<span>Sophia Mendoza</span> Comment on your project.
									</h6>
								</div>

								<div class="header__ntf">
									<a href="#" class="header__ntf-img">
										<img src="/static/images/user1.jpg" alt="">
									</a>
									<h6 class="header__ntf-title">
										<span>Tony Young</span> Comment on your project.
									</h6>
								</div>

								<a href="#" class="header__ntf-more">View more</a>
							</div>
						</div>

						<div class="header__profile">
							<a class="dropdown-toggle header__profile-btn" href="#" role="button" id="dropdownMenuProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<img src="/static/images/user5.jpg" alt="">
								<span>John Doe</span>
							</a>

							<ul class="dropdown-menu dropdown-menu-right header__dropdown-menu header__dropdown-menu--right" aria-labelledby="dropdownMenuProfile">
								<li><a href="profile.html"><i class="icon ion-ios-settings"></i> Settings</a></li>
								<li><a href="privacy.html"><i class="icon ion-ios-lock"></i> Privacy</a></li>
								<li><a href="faq.html"><i class="icon ion-ios-help-buoy"></i> FAQ</a></li>
								<li><a href="#"><i class="icon ion-ios-exit"></i> Logout</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- end header -->

	<!-- main content -->
	<main class="main">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-5 col-lg-4 col-xl-3">
					<!-- user -->
					<div class="user">
						<div class="user__head">
							<div class="user__img">
								<img src="/static/images/user5.jpg" alt="">
							</div>
						</div>
						<div class="user__title">
							<h2>John Doe</h2>
							<p>Front-end Developer</p>
						</div>
						<div class="user__btns">
							<a href="add-project.html" class="user__btn user__btn--blue"><span>Post a project</span></a>
							<a href="add-job.html" class="user__btn user__btn--orange"><span>Post a job</span></a>
						</div>
						<ul class="user__stats">
							<li>
								<p>Following</p>
								<span>26</span>
							</li>
							<li>
								<p>Followers</p>
								<span>88</span>
							</li>
						</ul>
						<a href="profile.html" class="sidebox__more">View profile</a>
					</div>
					<!-- end user -->

					<!-- sidebox -->
					<div class="sidebox">
						<h4 class="sidebox__title">Suggestions</h4>
						<div class="sidebox__content">
							<div class="sidebox__user">
								<a href="#" class="sidebox__user-img">
									<img src="/static/images/user7.jpg" alt="">
								</a>
								<div class="sidebox__user-title">
									<h5><a href="#">Andy Ramos</a></h5>
									<p>Secretary</p>
								</div>
								<button class="sidebox__user-btn" type="button">
									<i class="icon ion-ios-add"></i>
								</button>
							</div>

							<div class="sidebox__user">
								<a href="#" class="sidebox__user-img">
									<img src="/static/images/user1.jpg" alt="">
								</a>
								<div class="sidebox__user-title">
									<h5><a href="#">Tony Young</a></h5>
									<p>Herbalist</p>
								</div>
								<button class="sidebox__user-btn" type="button">
									<i class="icon ion-ios-add"></i>
								</button>
							</div>

							<div class="sidebox__user">
								<a href="#" class="sidebox__user-img">
									<img src="/static/images/user2.jpg" alt="">
								</a>
								<div class="sidebox__user-title">
									<h5><a href="#">Santiago Robinson</a></h5>
									<p>Fashion designer</p>
								</div>
								<button class="sidebox__user-btn" type="button">
									<i class="icon ion-ios-add"></i>
								</button>
							</div>

							<div class="sidebox__user">
								<a href="#" class="sidebox__user-img">
									<img src="/static/images/user3.jpg" alt="">
								</a>
								<div class="sidebox__user-title">
									<h5><a href="#">Sophia Mendoza</a></h5>
									<p>Teaching assistant</p>
								</div>
								<button class="sidebox__user-btn" type="button">
									<i class="icon ion-ios-add"></i>
								</button>
							</div>

							<div class="sidebox__user">
								<a href="#" class="sidebox__user-img">
									<img src="/static/images/user4.jpg" alt="">
								</a>
								<div class="sidebox__user-title">
									<h5><a href="#">Marsha Baldwin</a></h5>
									<p>Gardener</p>
								</div>
								<button class="sidebox__user-btn" type="button">
									<i class="icon ion-ios-add"></i>
								</button>
							</div>
						</div>
						<a href="#" class="sidebox__more">View more</a>
					</div>
					<!-- end sidebox -->
				</div>

				<div class="col-12 col-md-7 col-lg-8 col-xl-6">
					<!-- post -->
					<div class="post">
						<div class="post__head">
							<a href="#" class="post__head-img">
								<img src="/static/images/user8.jpg" alt="">
							</a>
							<div class="post__head-title">
								<h5><a href="#">Sebastian Lee</a></h5>
								<p>11 min ago</p>
							</div>

							<div class="post__dropdown">
								<a class="dropdown-toggle post__dropdown-btn" href="#" role="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="icon ion-md-more"></i>
								</a>

								<ul class="dropdown-menu dropdown-menu-right post__dropdown-menu" aria-labelledby="dropdownMenu1">
									<li><a href="#">Edit</a></li>
									<li><a href="#">Delete</a></li>
									<li><a href="#">Hide</a></li>
								</ul>
							</div>
						</div>

						<div class="post__wrap">
							<div class="post__company">
								<i class="icon ion-ios-briefcase"></i>
								<span>Envato</span>
							</div>

							<div class="post__location">
								<i class="icon ion-ios-navigate"></i>
								<span>Australia</span>
							</div>

							<div class="post__actions">
								<a class="post__actions-btn post__actions-btn--green" href="#">
									<i class="icon ion-ios-bookmark"></i>
								</a>
								<a class="post__actions-btn post__actions-btn--red" href="#">
									<i class="icon ion-ios-mail"></i>
								</a>
							</div>
						</div>

						<h2 class="post__title">Senior Wordpress Developer</h2>

						<div class="post__options">
							<span>Full time</span>
							<p>$36/hr</p>
						</div>

						<div class="post__description">
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
							<a href="#">view more</a>
						</div>

						<div class="post__tags">
							<a href="#">HTML</a>
							<a href="#">CSS</a>
							<a href="#">PHP</a>
						</div>

						<div class="post__stats">
							<div>
								<a class="post__likes" href="#"><i class="icon ion-ios-heart"></i> <span>15</span></a>
								<a class="post__comments" data-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapse1"><i class="icon ion-ios-text"></i> <span>0</span></a>
							</div>

							<div class="post__views">
								<i class="icon ion-ios-eye"></i> <span>214</span>
							</div>
						</div>

						<div class="collapse post__collapse" id="collapse1">
							<form action="#" class="post__form">
								<input type="text" placeholder="Type your comment...">
								<button type="button"><i class="icon ion-ios-paper-plane"></i></button>
							</form>
						</div>
					</div>
					<!-- end post -->

					<!-- post -->
					<div class="post">
						<div class="post__head">
							<a href="#" class="post__head-img">
								<img src="/static/images/user5.jpg" alt="">
							</a>
							<div class="post__head-title">
								<h5><a href="#">John Doe</a></h5>
								<p>24 min ago</p>
							</div>

							<div class="post__dropdown">
								<a class="dropdown-toggle post__dropdown-btn" href="#" role="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="icon ion-md-more"></i>
								</a>

								<ul class="dropdown-menu dropdown-menu-right post__dropdown-menu" aria-labelledby="dropdownMenu3">
									<li><a href="#">Edit</a></li>
									<li><a href="#">Delete</a></li>
									<li><a href="#">Hide</a></li>
								</ul>
							</div>
						</div>

						<div class="post__wrap">
							<div class="post__company">
								<i class="icon ion-ios-briefcase"></i>
								<span>Front-end Developer</span>
							</div>

							<div class="post__actions">
								<a class="post__actions-btn post__actions-btn--green" href="#">
									<i class="icon ion-ios-bookmark"></i>
								</a>
								<a class="post__actions-btn post__actions-btn--red" href="#">
									<i class="icon ion-ios-mail"></i>
								</a>
								<a href="#" class="post__actions-btn post__actions-btn--blue"><span>Bid now</span></a>
							</div>
						</div>

						<h2 class="post__title">PSD to HTML</h2>

						<div class="post__options">
							<p>$300 - $350</p>
						</div>

						<div class="post__description">
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
							<a href="#">view more</a>
						</div>

						<div class="post__tags">
							<a href="#">HTML</a>
							<a href="#">CSS</a>
							<a href="#">JS</a>
							<a href="#">PSD</a>
						</div>

						<div class="post__stats">
							<div>
								<a class="post__likes" href="#"><i class="icon ion-ios-heart"></i> <span>15</span></a>
								<a class="post__comments" data-toggle="collapse" href="#collapse3" role="button" aria-expanded="false" aria-controls="collapse1"><i class="icon ion-ios-text"></i> <span>0</span></a>
							</div>

							<div class="post__views">
								<i class="icon ion-ios-eye"></i> <span>214</span>
							</div>
						</div>

						<div class="collapse post__collapse" id="collapse3">
							<form action="#" class="post__form">
								<input type="text" placeholder="Type your comment...">
								<button type="button"><i class="icon ion-ios-paper-plane"></i></button>
							</form>
						</div>
					</div>
					<!-- end post -->

					<!-- post -->
					<div class="post">
						<div class="post__head">
							<a href="#" class="post__head-img">
								<img src="/static/images/user8.jpg" alt="">
							</a>
							<div class="post__head-title">
								<h5><a href="#">Sebastian Lee</a></h5>
								<p>45 min ago</p>
							</div>

							<div class="post__dropdown">
								<a class="dropdown-toggle post__dropdown-btn" href="#" role="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="icon ion-md-more"></i>
								</a>

								<ul class="dropdown-menu dropdown-menu-right post__dropdown-menu" aria-labelledby="dropdownMenu2">
									<li><a href="#">Edit</a></li>
									<li><a href="#">Delete</a></li>
									<li><a href="#">Hide</a></li>
								</ul>
							</div>
						</div>

						<div class="post__wrap">
							<div class="post__company">
								<i class="icon ion-ios-briefcase"></i>
								<span>Envato</span>
							</div>

							<div class="post__location">
								<i class="icon ion-ios-navigate"></i>
								<span>Australia</span>
							</div>

							<div class="post__actions">
								<a class="post__actions-btn post__actions-btn--green" href="#">
									<i class="icon ion-ios-bookmark"></i>
								</a>
								<a class="post__actions-btn post__actions-btn--red" href="#">
									<i class="icon ion-ios-mail"></i>
								</a>
							</div>
						</div>

						<h2 class="post__title">Senior Wordpress Developer</h2>

						<div class="post__options">
							<span>Full time</span>
							<p>$36/hr</p>
						</div>

						<div class="post__description">
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
							<a href="#">view more</a>
						</div>

						<div class="post__tags">
							<a href="#">HTML</a>
							<a href="#">CSS</a>
							<a href="#">PHP</a>
						</div>

						<div class="post__stats">
							<div>
								<a class="post__likes" href="#"><i class="icon ion-ios-heart"></i> <span>15</span></a>
								<a class="post__comments" data-toggle="collapse" href="#collapse2" role="button" aria-expanded="true" aria-controls="collapse2"><i class="icon ion-ios-text"></i> <span>2</span></a>
							</div>

							<div class="post__views">
								<i class="icon ion-ios-eye"></i> <span>214</span>
							</div>
						</div>

						<div class="collapse show post__collapse" id="collapse2">
							<form action="#" class="post__form">
								<input type="text" placeholder="Type your comment...">
								<button type="button"><i class="icon ion-ios-paper-plane"></i></button>
							</form>

							<div class="post__comment">
								<a href="#" class="post__comment-img">
									<img src="/static/images/user9.jpg" alt="">
								</a>
								<div class="post__comment-title">
									<h5><a href="#">Alan Patrick</a></h5>
									<p>20 min ago</p>
								</div>

								<p class="post__comment-text">Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
							</div>

							<div class="post__comment">
								<a href="#" class="post__comment-img">
									<img src="/static/images/user2.jpg" alt="">
								</a>
								<div class="post__comment-title">
									<h5><a href="#">Diego Costa</a></h5>
									<p>22 min ago</p>
								</div>

								<p class="post__comment-text">Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
							</div>
						</div>
					</div>
					<!-- end post -->

					<!-- view more -->
					<button class="main__btn" type="button"><span>load more</span></button>
					<!-- end view more -->
				</div>

				<div class="col-12 col-md-5 col-lg-4 col-xl-3">
					<!-- sidebox -->
					<div class="sidebox sidebox--desk">
						<h4 class="sidebox__title">Top jobs</h4>
						<div class="sidebox__content">
							<div class="sidebox__job">
								<div class="sidebox__job-title">
									<a href="#">Front-end Developer</a>
									<span>$25/hr</span>
								</div>
								<p class="sidebox__job-description">The generated Lorem Ipsum is therefore always free from repetition.
								</p>
							</div>

							<div class="sidebox__job">
								<div class="sidebox__job-title">
									<a href="#">UI/UX Designer</a>
									<span>$20/hr</span>
								</div>
								<p class="sidebox__job-description">The generated Lorem Ipsum is therefore always free from repetition.
								</p>
							</div>

							<div class="sidebox__job">
								<div class="sidebox__job-title">
									<a href="#">Back-end Developer</a>
									<span>$27/hr</span>
								</div>
								<p class="sidebox__job-description">The generated Lorem Ipsum is therefore always free from repetition.
								</p>
							</div>

							<div class="sidebox__job">
								<div class="sidebox__job-title">
									<a href="#">Team Leader</a>
									<span>$38/hr</span>
								</div>
								<p class="sidebox__job-description">The generated Lorem Ipsum is therefore always free from repetition.
								</p>
							</div>

							<div class="sidebox__job">
								<div class="sidebox__job-title">
									<a href="#">Senior Java Developer</a>
									<span>$35/hr</span>
								</div>
								<p class="sidebox__job-description">The generated Lorem Ipsum is therefore always free from repetition.
								</p>
							</div>
						</div>
						<a href="#" class="sidebox__more">View more</a>
					</div>
					<!-- end sidebox -->

					<!-- sidebox -->
					<div class="sidebox sidebox--desk">
						<h4 class="sidebox__title">Most viewed this week</h4>
						<div class="sidebox__content">
							<div class="sidebox__job">
								<div class="sidebox__job-title">
									<a href="#">UI/UX Designer</a>
									<span>$20/hr</span>
								</div>
								<p class="sidebox__job-description">The generated Lorem Ipsum is therefore always free from repetition.
								</p>
							</div>

							<div class="sidebox__job">
								<div class="sidebox__job-title">
									<a href="#">Back-end Developer</a>
									<span>$27/hr</span>
								</div>
								<p class="sidebox__job-description">The generated Lorem Ipsum is therefore always free from repetition.
								</p>
							</div>

							<div class="sidebox__job">
								<div class="sidebox__job-title">
									<a href="#">Senior Java Developer</a>
									<span>$35/hr</span>
								</div>
								<p class="sidebox__job-description">The generated Lorem Ipsum is therefore always free from repetition.
								</p>
							</div>
						</div>
						<a href="#" class="sidebox__more">View more</a>
					</div>
					<!-- end sidebox -->

					<!-- sidebox -->
					<div class="sidebox sidebox--desk">
						<h4 class="sidebox__title">Most viewed people</h4>
						<div class="sidebox__content">
							<div class="sidebox__user">
								<a href="#" class="sidebox__user-img">
									<img src="/static/images/user3.jpg" alt="">
								</a>
								<div class="sidebox__user-title">
									<h5><a href="#">Marsha Baldwin</a></h5>
									<p>Secretary</p>
								</div>
								<button class="sidebox__user-btn" type="button">
									<i class="icon ion-ios-add"></i>
								</button>
							</div>

							<div class="sidebox__user">
								<a href="#" class="sidebox__user-img">
									<img src="/static/images/user2.jpg" alt="">
								</a>
								<div class="sidebox__user-title">
									<h5><a href="#">Tony Young</a></h5>
									<p>Herbalist</p>
								</div>
								<button class="sidebox__user-btn" type="button">
									<i class="icon ion-ios-add"></i>
								</button>
							</div>

							<div class="sidebox__user">
								<a href="#" class="sidebox__user-img">
									<img src="/static/images/user9.jpg" alt="">
								</a>
								<div class="sidebox__user-title">
									<h5><a href="#">Santiago Robinson</a></h5>
									<p>Fashion designer</p>
								</div>
								<button class="sidebox__user-btn" type="button">
									<i class="icon ion-ios-add"></i>
								</button>
							</div>

							<div class="sidebox__user">
								<a href="#" class="sidebox__user-img">
									<img src="/static/images/user4.jpg" alt="">
								</a>
								<div class="sidebox__user-title">
									<h5><a href="#">Sophia Mendoza</a></h5>
									<p>Teaching assistant</p>
								</div>
								<button class="sidebox__user-btn" type="button">
									<i class="icon ion-ios-add"></i>
								</button>
							</div>

							<div class="sidebox__user">
								<a href="#" class="sidebox__user-img">
									<img src="/static/images/user6.jpg" alt="">
								</a>
								<div class="sidebox__user-title">
									<h5><a href="#">Marsha Baldwin</a></h5>
									<p>Gardener</p>
								</div>
								<button class="sidebox__user-btn" type="button">
									<i class="icon ion-ios-add"></i>
								</button>
							</div>
						</div>
						<a href="#" class="sidebox__more">View more</a>
					</div>
					<!-- end sidebox -->
				</div>
			</div>
		</div>
	</main>
	<!-- end main content -->

	<!-- footer -->
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="footer__content">
						<a href="../usercontrol/index.html" class="footer__logo">
							<img src="/static/images/logo.svg" alt="">
						</a>

						<span class="footer__copyright">© 2020 iJob<br> Create by <a href="https://themeforest.net/user/dmitryvolkov/portfolio?ref=DmitryVolkov" target="_blank">Dmitry Volkov</a></span>

						<nav class="footer__nav">
							<a href="contacts.html">Contacts</a>
							<a href="faq.html">FAQ</a>
							<a href="privacy.html">Privacy Policy</a>
						</nav>

						<button class="footer__back" type="button">
							<i class="icon ion-ios-arrow-round-up"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- end footer -->

	<!-- JS -->
	<script src="/static/js/frameabout/jquery-3.4.1.min.js"></script>
	<script src="/static/js/frameabout/bootstrap.bundle.min.js"></script>
	<script src="/static/js/frameabout/owl.carousel.min.js"></script>
	<script src="/static/js/frameabout/wNumb.js"></script>
	<script src="/static/js/frameabout/nouislider.min.js"></script>
	<script src="/static/js/frameabout/select2.min.js"></script>
	<script src="/static/js/frameabout/jquery.mousewheel.min.js"></script>
	<script src="/static/js/frameabout/jquery.mCustomScrollbar.min.js"></script>
	<script src="/static/js/frameabout/main.js"></script>
</body>
</html>