<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- CSS -->
	<link rel="stylesheet" href="static/css/bootstrap-reboot.min.css">
	<link rel="stylesheet" href="static/css/bootstrap-grid.min.css">
	<link rel="stylesheet" href="static/css/owl.carousel.min.css">
	<link rel="stylesheet" href="static/css/nouislider.min.css">
	<link rel="stylesheet" href="static/css/select2.min.css">
	<link rel="stylesheet" href="static/css/jquery.mCustomScrollbar.min.css">
	<link rel="stylesheet" href="static/css/ionicons.min.css">
	<link rel="stylesheet" href="static/css/main.css">

	<!-- Favicons -->
	<link rel="icon" type="image/png" href="static/icon/favicon-32x32.png" sizes="32x32">
	<link rel="apple-touch-icon" href="static/icon/favicon-32x32.png">
	<link rel="apple-touch-icon" sizes="72x72" href="static/icon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="static/icon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="144x144" href="static/icon/apple-touch-icon-144x144.png">

	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Dmitry Volkov">
	<title>用户注册注册</title>
</head>

<body>
	<div class="sign">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="sign__content">
						<!-- registration form -->
						<form action="#" class="sign__form">
							<a href="index.html" class="sign__logo">
								<img src="static/images/logo.jpg" alt="">
							</a>

							<div class="sign__group">
								<input type="text" class="sign__input" placeholder="手机号" id="phoneNumber">
							</div>

							<div class="sign__group">
								<input type="text" class="sign__input" placeholder="用户名" id="userName">
							</div>

							<div class="sign__group">
								<input type="password" class="sign__input" placeholder="密码" id="password">
							</div>

							<div class="sign__group">
								<input type="password" class="sign__input" placeholder="确认密码" id="checkPassword">
							</div>

<!--							<div class="sign__group sign__group&#45;&#45;checkbox">-->
<!--								<input id="remember" name="remember" type="checkbox" checked="checked">-->
<!--								<label for="remember">I agree to the <a href="privacy.html">隐私政策</a></label>-->
<!--							</div>-->
							<div>
								<span id = "registerBigno"></span>
							</div>
							<button class="sign__btn" type="button" id="registerButton"><span>注册</span></button>

							<span class="sign__text">已经有一个账号了? <a href="login">登陆</a></span>
						</form>
						<!-- registration form -->
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- JS -->
	<script src="static/js/frameabout/jquery-3.4.1.min.js"></script>
	<script src="static/js/frameabout/bootstrap.bundle.min.js"></script>
	<script src="static/js/frameabout/owl.carousel.min.js"></script>
	<script src="static/js/frameabout/wNumb.js"></script>
	<script src="static/js/frameabout/nouislider.min.js"></script>
	<script src="static/js/frameabout/select2.min.js"></script>
	<script src="static/js/frameabout/jquery.mousewheel.min.js"></script>
	<script src="static/js/frameabout/jquery.mCustomScrollbar.min.js"></script>
	<script src="static/js/frameabout/main.js"></script>
	<script src="static/js/function/register.js"></script>
</body>
</html>